{% extends 'base.html.twig' %}

{% block body %}
<hr>
<div class="container">
    <div class="offset-md-1 col-md-6">
        <a href="{{ path('show_random_words') }}" class="btn btn-button btn-primary">Random</a>
        <a href="{{ path('show_all_words') }}" class="btn btn-button btn-primary">All</a>
    </div>
</div>
<hr>
    {# ...or you can read and display every flash message available #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="container">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <thead>
            <tr>
                <th scope="col">eng</th>
                <th scope="col">rus</th>
                <th scope="col">description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for word in words %}
                <tr>
                    <td>{{ word.eng }}</td>
                    <td>{{ word.rus }}</td>
                    <td>{{ word.description }}</td>
                    <td>
                        <a href="{{ path('view_word', {'id' : word.id}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<hr>
<div class="container">
    <div class="offset-md-1 col-md-6">
        <a href="{{ path('add_words') }}" class="btn btn-button btn-primary">New</a>
    </div>
</div>

{% endblock %}
